<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


  <link rel="stylesheet" type="text/css" href="/about.css">
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated rubberBand infinite"  href="#">Celebs Talk</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li ><a href="/imagegallery">Image Gallery</a></li>
        <li class="dropdown">
         <a class="btn btn-secondary dropdown-toggle" href="/celebrities.ejs" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Celibrities
         </a>

        <div class="dropdown-menu" height="20" aria-labelledby="dropdownMenuLink">
    <div><a class="dropdown-item" href="/aishwarya">Aishwarya Rai Bachchan</a></div>
    <div><a class="dropdown-item" href="/alia">Alia Bhatt</a></div>
    <div><a class="dropdown-item" href="/anushka">Anushka Sharma</a></div>
    <div><a class="dropdown-item" href="/deepika">Deepika Padukone</a></div>
    <div><a class="dropdown-item" href="/katrina">Katrina Kaif</a></a></div>
  </div></li>
       </li>
        <li ><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Facebook <i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/celebs_talk0/">Instagram <i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCTR_dgS788sV4lH88aSbZFg">YouTube <i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>
 <header>
  <h1>About Us</h1>
</header>
<div class="container" >
  <h2>Information for Viewers</h2>
  <h3><p><b><i>Celebs Talk</i></b> is a digital media company which is ruling in the hearts of the people on Social media platforms like facebook<i class="fab fa-facebook-square"></i>, instagram<i class="fab fa-instagram"></i>, Youtube<i class="fab fa-youtube"></i>
  . <b><i>Celebs Talk</i></b> helps you to achieve your goal of Digital Engagement. Our innovative pictures and videos are not only latest but also ensure that You get all the information about what is happening in particular celebrity life.</p>
  <p>Our other social media platforms like <b><i>Stylish Dp</i></b> support and complement us and contribute towards making us a Next-Gen platform for all our content and branding needs. We keep in mind the factor of "Virality" and "trending" and accordingly serve you with a vareity formats like interviews, listicles, memes, brand 
  integration, photos and Videos.</p>
  <p>We are experts in reading audience Minds and their wants and come up with solutions accordingly; with our main focus on audience engagegment and entertainment,
  we deliver out of the box and newly created content so that we stay connected to millions and ca
  ter their needs and interests. The Best thing about <b><i>Celebs Talk</i></b> is 
  "Audience"; It is their love and support that makes us stand among the widely loved social media platform. In Fact, our 
  enthusiasm for staying updated with trends and our love for giving new and latest to audience
  is what has given<b><i>Celebs Talk</i></b> a high rank on social media platforms.</p>
  <p><strong>We love our audience and value a lot their support. We request you to keep supporting us on Social Media. <br> 
  Check Our instagram, facebook and Youtube links for supporting us<br>
  <i id="thanks"> Thanks a lot for visiting Our Site!</i></strong></p></h3>
  <div class="thumbnail">
    <img src="https://scontent.fdel11-1.fna.fbcdn.net/v/t1.0-9/32543880_597666617276033_6804722205532880896_n.jpg?_nc_cat=0&oh=ed15eaebd8dfcc9e40ecf312f7465d76&oe=5BDB5BDC" width="500" >
    <div class="caption"><strong>Profile Picure of our Facebook Page.</strong> </div>
  </div>
  
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="/about.js"></script>

</body>