
<!DOCTYPE html>
<html>
<head>
  <title>Aishwarya Rai Bachchan</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


  <link rel="stylesheet" type="text/css" href="/celebrity.css">
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated rubberBand infinite"  href="/">Celebs Talk</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li ><a href="/about">About</a></li>
        <li ><a href="/imagegallery">Image Gallery</a></li>
        <li class="dropdown">
         <a class="btn btn-secondary dropdown-toggle active"  href="/celebrities" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Celibrities
         </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div><a class="dropdown-item" href="/aishwarya">Aishwarya Rai Bachchan</a></div>
    <div><a class="dropdown-item" href="/alia">Alia Bhatt</a></div>
    <div><a class="dropdown-item" href="/anushka">Anushka Sharma</a></div>
    <div><a class="dropdown-item" href="/deepika">Deepika Padukone</a></div>
    <div><a class="dropdown-item" href="/katrina">Katrina Kaif</a></a></div>
  </div>
       </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Facebook <i class="fab fa-facebook-square"></i></a></li>
       <li><a href="https://www.instagram.com/celebs_talk0/">Instagram <i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCTR_dgS788sV4lH88aSbZFg">YouTube <i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>

 <header id="header">
  <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
    </ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <h1 ><i>Aishwarya Rai Bachchan</i></h1>
        <hr>
      </div>
    </div>
  </div>
 </div>
</header>
<div class="container" id=videothumbnail>
  <h2>About </h2>
  <p><strong>Aishwarya Rai (born 1 November 1973)</strong>, also known by her married name Aishwarya Rai Bachchan, is an Indian actress, model and the winner of the <strong>Miss World 1994</strong>
  pageant. Through her successful acting career, she has established herself as one of the most popular and influential celebrities in India.[1][2] Rai has received numerous
  accolades, including two <strong>Filmfare Awards</strong> from eleven nominations, and she was honoured with the <strong>Padma Shri</strong> by the Government of India in 2009 and the <strong>Ordre des Arts et des </strong>
  Lettres by the <strong>Government of France in 2012</strong>. She has often been cited in the media as "the most beautiful woman in the world".[3][4]</p>
  <a href="https://en.wikipedia.org/wiki/Aishwarya_Rai" ><button type="button" class="btn btn-info btn-md">For more information click here </button> </a>
<h2>Images</h2>
<div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.whoa.in/20150417-Whoa/Most-Beautiful-Aishwarya-Rai-Bachchan-with-Dark-Background-HD-Wallpaper.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://wallpapersite.com/images/wallpapers/aishwarya-rai-1920x1080-ae-dil-hai-mushkil-bollywood-hd-2910.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://www.hotstarz.info/wp-content/uploads/2015/07/HD-Aishwarya-Rai-Pic-image-HD.jpg" alt="" >
      </div>
    </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://www.filmibeat.com/img/2016/02/03-1454494981-19-1447940309-aishwarya-rai-bachchan-new-picture-with-daughter-aaradhya-mom-vrinda.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://wallpaperset.com/w/full/0/1/6/278552.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://4.bp.blogspot.com/-dwJGlEXBsIo/VuP5aNM3ZNI/AAAAAAAA9CM/hnfONOfqSK0s5KcupkQFyJn3ZW7z3-4TQ/s1600/Abhishek%2BBachchan%2Band%2BAishwarya%2BRai%2BHd%2BWallpaper8.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://i.pinimg.com/originals/d6/fd/88/d6fd8857e9b48591923258ba57d42842.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.atozpictures.com/admin/uploads/2016/03/aishwarya-rai-bachchan-saree-photos.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://desinema.com/wp-content/uploads/2014/01/aishwarya-rai-bachchan2.jpg" alt="" >
      </div>
    </div>
    </div>
</div>

</div>
<footer>@copyright and trademark of Celebs Talk <span id="branding"> Created By KshitijShrm</span></footer>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="celibrity.js"></script>
</script>
</body>
</html>