
<!DOCTYPE html>
<html>
<head>
  <title>Alia Bhatt</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


  <link rel="stylesheet" type="text/css" href="/alia.css">
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated rubberBand infinite"  href="/">Celebs Talk</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li ><a href="/about">About</a></li>
        <li ><a href="/imagegallery">Image Gallery</a></li>
        <li class="dropdown">
         <a class="btn btn-secondary dropdown-toggle active"  href="/celebrities" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Celibrities
         </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div><a class="dropdown-item" href="/aishwarya">Aishwarya Rai Bachchan</a></div>
    <div><a class="dropdown-item" href="/alia">Alia Bhatt</a></div>
    <div><a class="dropdown-item" href="/anushka">Anushka Sharma</a></div>
    <div><a class="dropdown-item" href="/deepika">Deepika Padukone</a></div>
    <div><a class="dropdown-item" href="/katrina">Katrina Kaif</a></a></div>
  </div>
       </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://tarusharma4897.000webhostapp.com/facebook.html">Facebook <i class="fab fa-facebook-square"></i></a></li>
       <li><a href="https://www.instagram.com/celebs_talk0/">Instagram <i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCTR_dgS788sV4lH88aSbZFg">YouTube <i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>

 <header id="header">
  <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
    </ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <h1 ><i>Alia Bhatt</i></h1>
        <hr>
      </div>
    </div>
  </div>
 </div>
</header>
<div class="container" id=videothumbnail>
  <h2>About </h2>
  <p><strong>Alia Bhatt (born 15 March 1993))</strong>,is an actress and singer of Indian origin and British citizenship, who works in <strong>Bollywood</strong> films.
  The recipient of several accolades, including two <strong>Filmfare Awards</strong>, Bhatt is one of the highest-paid actresses in India.[2] She has appeared in <strong>Forbes 
  India's Celebrity</strong> 100 list since 2014 and in 2017, she was featured by <strong>Forbes Asia </strong>in their 30 Under 30 list.</p>
  <a href="https://en.wikipedia.org/wiki/Alia_Bhatt" ><button type="button" class="btn btn-info btn-md">For more information click here </button> </a>
<h2>Images</h2>
<div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-zxzb529yIGutU_iOcyxaU2ANkrlh11lsLuqdA1cgXh9Yu-5C" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://i.ytimg.com/vi/COrYiBq7Z60/maxresdefault.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtq8xol2fn_MH3vNCe9nWu8dA-kJrBHavh513UJy1weTSnsbc4YQ" alt="" >
      </div>
    </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://hdqwalls.com/wallpapers/alia-bhatt-9.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://files.all-free-download.com//downloadfiles/wallpapers/1680_1050/actress_alia_bhatt_12398.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.hdfinewallpapers.com/HDWallpapers/Big/Alia-Bhatt/Popular_Hindi_Film_Actress_Alia_Bhatt_HD_Wallpaper.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.dreampirates.in/images/img/alia-bhatt.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.startwallpapers.com/wp-content/uploads/2017/09/Alia-Bhatt-Full-HD-1080p-Images-Photos-Pics-Wallpapers-startwallpapers.com-7976.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://wallpapersite.com/images/wallpapers/alia-bhatt-1920x1080-vogue-india-2017-5864.jpg" alt="" >
      </div>
    </div>
    </div>
</div>

</div>
<footer>@copyright and trademark of Celebs Talk <span id="branding"> Created By KshitijShrm</span></footer>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="celibrity.js"></script>
</script>
</body>
</html>