
<!DOCTYPE html>
<html>
<head>
  <title>Anushka Sharma</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


  <link rel="stylesheet" type="text/css" href="/anushka.css">
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated rubberBand infinite"  href="/">Celebs Talk</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li ><a href="/about">About</a></li>
        <li ><a href="/imagegallery">Image Gallery</a></li>
        <li class="dropdown">
         <a class="btn btn-secondary dropdown-toggle active"  href="/celebrities" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Celibrities
         </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div><a class="dropdown-item" href="/aishwarya">Aishwarya Rai Bachchan</a></div>
    <div><a class="dropdown-item" href="/alia">Alia Bhatt</a></div>
    <div><a class="dropdown-item" href="/anushka">Anushka Sharma</a></div>
    <div><a class="dropdown-item" href="/deepika">Deepika Padukone</a></div>
    <div><a class="dropdown-item" href="/katrina">Katrina Kaif</a></a></div>
  
  </div>
       </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://tarusharma4897.000webhostapp.com/facebook.html">Facebook <i class="fab fa-facebook-square"></i></a></li>
       <li><a href="https://www.instagram.com/celebs_talk0/">Instagram <i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCTR_dgS788sV4lH88aSbZFg">YouTube <i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>

 <header id="header">
  <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
    </ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <h1 ><i>Anushka Sharma</i></h1>
        <hr>
      </div>
    </div>
  </div>
 </div>
</header>
<div class="container" id=videothumbnail>
  <h2>About </h2>
  <p><strong>Anushka Sharma ( born 1 May 1988)</strong>
 is an Indian actress and film producer. She has established a career in <stromg>Bollywood</stromg> films, and is one of the most popular and highest-paid actresses in India.
 She is the recipient of several awards, including one <strong>Filmfare Award</strong> from seven nominations. Born in Ayodhya and raised in Bangalore, Sharma had her first 
 modelling assignment for the fashion 
designer <strong>Wendell Rodricks</strong> in 2007 and later moved to Mumbai to pursue a full-time career as a model.</p>
  <a href="https://en.wikipedia.org/wiki/Anushka_Sharma" ><button type="button" class="btn btn-info btn-md">For more information click here </button> </a>
<h2>Images</h2>
<div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.hdnicewallpapers.com/Walls/Big/Anushka%20Sharma/Superb_Anushka_Sharma_in_Saree.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://wallpaperclicker.com/storage/wallpaper/Anushka-Sharma-Latest-Stills-in-Blue-Dress-45303848.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://images.indianexpress.com/2018/03/anushka-sharma-insta-759.jpg" alt="" >
      </div>
    </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://images.inuth.com/2017/05/anushkasharmasexywallpaper4.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://i2.wp.com/www.imagesqueen.com/wp-content/uploads/2017/03/Latest-anushka0sharma-photos.jpg?resize=800%2C800" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://alliswall.com/file/4178/1920x1200/16:9/anushka-sharma-in-iifa-award.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.whoa.in/20130627-Whoa/anushka-sharma-hot-bikini-hd-wallpapers.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://images.inuth.com/2017/05/anushkasharmahotwallpaper1.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.largehdwallpapers.com/wp-content/uploads/2016/04/Anushka-Sharma-Amazing-Full-HD-Wallpapers.jpg" alt="" >
      </div>
    </div>
    </div>
</div>
<a href="https://www.000webhost.com/1084795.html" target="_blank"><img src="https://www.000webhost.com/images/banners/728x90/1.jpg" alt="Web hosting" width="728" height="90" border="0" /></a>
</div>
<footer>@copyright and trademark of Celebs Talk <span id="branding"> Created By KshitijShrm</span></footer>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="celibrity.js"></script>
</script>
</body>
</html>