
<!DOCTYPE html>
<html>
<head>
  <title>Deepika Padukone</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


  <link rel="stylesheet" type="text/css" href="/deepika.css">
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated rubberBand infinite"  href="/">Celebs Talk</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li ><a href="/about">About</a></li>
        <li ><a href="/imagegallery">Image Gallery</a></li>
        <li class="dropdown">
         <a class="btn btn-secondary dropdown-toggle active"  href="/celebrities" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Celibrities
         </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div><a class="dropdown-item" href="/aishwarya">Aishwarya Rai Bachchan</a></div>
    <div><a class="dropdown-item" href="/alia">Alia Bhatt</a></div>
    <div><a class="dropdown-item" href="/anushka">Anushka Sharma</a></div>
    <div><a class="dropdown-item" href="/deepika">Deepika Padukone</a></div>
    <div><a class="dropdown-item" href="/katrina">Katrina Kaif</a></a></div>
  
  </div>
       </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Facebook <i class="fab fa-facebook-square"></i></a></li>
       <li><a href="https://www.instagram.com/celebs_talk0/">Instagram <i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCTR_dgS788sV4lH88aSbZFg">YouTube <i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>

 <header id="header">
  <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
    </ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <h1 ><i>Deepika Padukone</i></h1>
        <hr>
      </div>
    </div>
  </div>
 </div>
</header>
<div class="container" id=videothumbnail>
  <h2>About </h2>
  <p><strong>Deepika Padukone (born 5 January 1986)</strong> is an Indian film actress. One of the highest-paid actresses in India, Padukone is the recipient of several awards, including <strong>three Filmfare Awards.</strong> She features in listings of the nation's most popular personalities,
  and Time named her one of the 100 <strong>most influential people in the world in 2018.</strong></p>
  <a href="https://en.wikipedia.org/wiki/Deepika_Padukone" ><button type="button" class="btn btn-info btn-md">For more information click here </button> </a>
<h2>Images</h2>
<div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://images.indianexpress.com/2018/02/deepika-padukone-cover-girl-759.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.suntiros.com/wp-content/uploads/2017/09/Beautiful-Image-Pics-Deepika-Padukone.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://top10xyz.com/wp-content/uploads/2016/02/deepika-padukone_images-1024x768.jpg" alt="" >
      </div>
    </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://www.newhdwallpapers.in/wp-content/uploads/2015/01/Deepika-Padukone-Red-Lips-HD-Images.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://www.bhmpics.com/thumbs/deepika_padukone_filmfare_feb_2017-t3.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="http://latestdesktopwallpapers.com/wallpapers/2017/06/Deepika-Padukone-Cute-face-HD-Wallpapers-download.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://i.ytimg.com/vi/RNK2lxu7NP0/maxresdefault.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://i.ytimg.com/vi/N_qdNjWzv3s/maxresdefault.jpg" alt="" >
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
          <div class="thumbnail " width="350" height="205">
        <img class="img-responsive"  src="https://www.hdwallpapers.in/download/deepika_padukone_43-wide.jpg" alt="" >
      </div>
    </div>
    </div>
</div>

</div>
<footer>@copyright and trademark of Celebs Talk <span id="branding"> Created By KshitijShrm</span></footer>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="celibrity.js"></script>
</script>
</body>
</html>